@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    bottom: 0;

    display: block;

    width: 26px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    transition: all ease 0.3s;
    color: transparent;
    border: none;
    z-index: 1;
    outline: none;
    background: transparent;
        /* transform: translate(-0%, -50%); */
    margin: 0 0 -18px 0;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: '';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 40%;
    background: url(../img/slick-prev-arrow.png) 0 0 no-repeat;
    background-position: center;
}
.slick-prev:hover, .slick-prev:focus{
    background: url(../img/slick-prev-arrow-h.png) 0 0 no-repeat;
    background-position: center;
    background-color: #811A27;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right: 40%;
    background: url(../img/slick-next-arrow.png) 0 0 no-repeat;
    background-position: center;
}

.slick-next:hover, .slick-next:focus{
    background: url(../img/slick-next-arrow-h.png) 0 0 no-repeat;
    background-position: center;
    background-color: #811A27;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 0px;
}

.slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    padding: 0;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
}

.slick-dots li.slick-active {
    background: #fff;
    border-color: #EC334A;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 13px;
    height: 13px;
    padding: 0;
    position: relative;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #FBFBFB;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before {
    background-color: #EC334A;
    opacity: 1;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
}

@media (min-width: 1200px) {
.slick-dots li button {
    width: 20px;
    height: 20px;
}

.slick-dots li button:before {
    width: 8px;
    height: 8px;
}
}